NEXT_PUBLIC_YOUTUBE_101_VIDEO_1="https://www.youtube.com/embed/VIDEO_ID_1"
NEXT_PUBLIC_YOUTUBE_101_VIDEO_2="https://www.youtube.com/embed/VIDEO_ID_2"
NEXT_PUBLIC_YOUTUBE_101_VIDEO_3="https://www.youtube.com/embed/VIDEO_ID_3"

NEXT_PUBLIC_FORMS_SCHOOL_EMBED="<iframe ...></iframe>"
NEXT_PUBLIC_FORMS_ACADEMY_EMBED="<iframe ...></iframe>"
NEXT_PUBLIC_FORMS_CERTIFIED_EMBED="<iframe ...></iframe>"
NEXT_PUBLIC_FORMS_COUNCIL_EMBED="<iframe ...></iframe>"
NEXT_PUBLIC_FORMS_APPLY_EMBED="<iframe ...></iframe>"

NEXT_PUBLIC_SUBSTACK_EMBED="<script async src='...'></script><iframe ...></iframe>"

NEXT_PUBLIC_DISCORD_URL="https://discord.gg/your-invite"
NEXT_PUBLIC_CONTACT_EMAIL="hello@channelos.org"
NEXT_PUBLIC_SITE_URL="https://channelos.org"
